.navbar {
    background-color: #000000;
    height: 7.5rem;
}

.gadget {
    color: red;
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.menu p {
    margin: 0 15px;
}

.icons {
  width: 30px;
}