<div class="container">
  <div class="card border-secondary mt-3">
    <div class="card-header">Informações pessoais</div>
    <div class="card-body text-secondary">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" style="width: 100%" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Senha*</label>
            <input type="password" class="form-control" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Confirmar Senha*</label>
            <input type="password" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-secondary mt-3">
    <div class="card-header">Endereço</div>
    <div class="card-body text-secondary">
      <div class="row">
        <div class="form-group">
          <label>País</label>
          <select class="form-select" aria-label="">
            <option selected>---</option>
            <option *ngFor="let option of pais" value="1">{{ option }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Telefone</label>
          <input
            type="tel"
            class="form-control"
            required
            placeholder="(XX) X XXXX-XXXX"
            style="width: 100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>CPF*</label>
          <input
            type="number"
            class="form-control"
            required
            placeholder="___.___.___-__"
            style="width: 100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nome">CEP</label>
            <input type="text" class="form-control" id="#cep" />
          </div>
          <a href="https://tecnoblog.net/responde/como-saber-o-meu-cep/#:~:text=Como%20saber%20o%20CEP%201%20Visite%20o%20site,de%E2%80%9D%2C%20setado%20em%20%E2%80%9CTodos%E2%80%9D%29%3B%203%20Clique%20em%20%E2%80%9CBuscar%E2%80%9D%3B" target="_blank">
            <p class="cep">Não sabe o CEP?</p>
          </a>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="sobrenome">Bairro</label>
            <input type="text" class="form-control" id="#sobrenome" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nome">Cidade</label>
            <input type="text" class="form-control" id="#nome" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="sobrenome">Estado</label>
            <select class="form-select" aria-label="">
              <option selected>---</option>
              <option *ngFor="let option of state" value="1">
                {{ option }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Endereço</label>
          <input type="text" class="form-control" style="width: 100%" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Número da residência</label>
          <input type="number" class="form-control" style="width: 100%" />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label>Ponto de referência</label>
          <input type="text" class="form-control" style="width: 100%" />
        </div>
      </div>
      <button type="button" class="btn btn-danger">Salvar Alterações</button>
    </div>
  </div>
</div>